<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Accentio Blog</title>
    <meta name="description" content="<%= description %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:title" content="<%= title %> | Accentio Blog">
    <meta itemprop="description" content="<%= description %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.accentiostudios.com/<%= slug %>">
    <meta property="og:image" content="<%= heroimage %>">
    <meta property="og:image:alt" content="Accentio Studios: Desarrollo de software, web y mobile de alta calidad, enfocado a la experiencia de usuario.">
    <meta property="og:site_name" content="Accentio Studios">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AccentioStudios">
    <meta name="twitter:title" content="<%= title %> | Accentio Blog">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:creator" content="@AccentioStudios">
    <meta name="twitter:image:src" content="<%= heroimage %>">
    <meta name="twitter:domain" content="blog.accentiostudios.com">
    <!-- SEO -->
    <link rel="canonical" href="https://blog.accentiostudios.com/<%= slug %>">
    <link rel="icon" type="image/png" href="./public/favicon.png"/>
    <%-"<style>"%>
    <%- include('../styles/styles.css') %>
    <%- include('../styles/excelsior.css') %>
    <%- include('../styles/hljs-dark.css') %>
    <%-"</style>"%>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
</head>
<body class="wrapper">
    <%- include('../partials/header.partial.ejs') %>
    <main class="main">
            <div class="hero-section <%= heroimage ? 'hero-section-with-bg' : '' %>">
                <% if(heroimage){ %>
                <div class="hero-section__background">
                    <div class="hero-section__background-frontlight"></div>
                    <picture>
                        <img class="responsive-picture" src="<%= heroimage %>" alt="">
                    </picture>
                </div>
                <% } %>
                <div class="hero-section__content">
                    <div class="hero-section__header">
                        <h4 class="hero-section__category"><%= category %> </h4>
                        <h1 class="hero-section__title"><%= title %></h1>
                        <div class="hero-section__row">
                            <span class="hero-section__date">
                                Actualizado en <%= createdAt %>
                            </span>
                            <span class="hero-section__author">
                             Por <%= author %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-section">
                <div class="main-section__content">
                    <article class="main-section__article">
                        <%- content %> 

                        <div class="main-section__article-tags">
                            <ul>
                                <li><strong>Más</strong></li>
                                <% for (var i = 0; i < tags.length ; i++) { %>
                                    <li><a href="./tag/<%= tags[i] %>"><%= tags[i] %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </article>
                    <aside class="main-section__aside">
                        
                    </aside>
                </div>
        </div>
    </main>
    <%- include('../widgets/related-posts/related-posts.widget.ejs') %>
    <%- include('../partials/footer.partial.ejs') %>
</body>
</html>