<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{ getMetaTags }}}
    {{{ getIndexJsonLd }}}
    {{!-- animate css --}}
    <link rel="stylesheet" href="./css/animate.min.css"/>
    {{!-- style mobile --}}
    <link rel="stylesheet" href="./css/main.css" type="text/css">
    {{!-- style tablet --}}
    <link rel="stylesheet" href="./css/tablet.css" type="text/css" media="screen and (min-width: 768px)">
    {{!-- style desktop --}}
    <link rel="stylesheet" href="./css/desktop.css" type="text/css" media="screen and (min-width: 1200px)">
    {{!-- others styles --}}
    <link rel="stylesheet" href="./css/excelsior.css" type="text/css">
    {{!-- fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    
    {{!-- scripts --}}
    <script type="module" src="./js/heroSectionCarousel/heroSectionCarousel.js" defer></script>
    <script type="module" src="./js/RelatedPosts/relatedPosts.js" defer></script>

    {{{getGTag "G-L7S2FY1KYD"}}}

</head>
<body class="wrapper">
    {{> homeHeader}}
    <main class="main">
        <section class="hero-section hero-section-with-bg hero-section-home-carr">
            <div class="spinner-ripple-container">
                <div class="spinner-ripple">
                <div></div><div></div>
                </div>
            </div>
        </section>
        {{!-- <section class="
        hero-section-cards-carr ">
            hero-section-home-carr__cards-container

            hero-section-cards-carr__content
            hero-section-home-carr__cards-content
        </section> --}}

        <section class="related-posts related-posts-home white">
        </section>
    </main>
    {{> footer}}
    {{{getPixelMetricool 'd8f4351f26c40a5278eaa38710d5deba'}}}
</body>
<script nonce="{{{nonce}}}">
    document.addEventListener("DOMContentLoaded", () => {
        relatedPosts.init({
            theme: 'white',
            headerText: 'Descubre',
            headerAlign: 'left'
        });
     });
</script>

</html>